{# PROFIL #}
{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block base_body %}
    <h2>Bonjour <strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></h2>
        <section class="profil">
            <ul>
                <li><strong>Votre N° de téléphone :</strong> {{ app.user.phone }}</li>
                <li><strong>Votre adresse mail :</strong> {{ app.user.email }}</li>
                <li><strong>Votre ville :</strong> {{ app.user.city }}</li>
                <li><strong>Votre N° Siret :</strong> {{ app.user.siret }}</li>
            </ul>
        </section>
{% endblock %}
