{% extends "base.html.twig" %}

{% block title %}Créer votre compte Candidat!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block base_body %}
    <h2 class="h_font_b">Connectez-vous ou créer votre compte candidat</h2>
        <section class="register_login">
            <article class="form-signin">
                <p>Si vous souhaitez consulter toutes les offres d'emplois disponibles dans votre région, créez votre espace candidat ou connectez-vous :</p>
                <div class="connect"><a  class="connect" href="{{ path('app_login') }}">Connexion</a></div>
            </article>
            <article>
                <form class="form-signin" method="post">
                    <h4 class="h3 mb-3 font-weight-normal">Créer votre compte candidat</h4>
                    <label for="inputFirstname">Prénom</label>
                    <input type="text" name="firstName" id="inputFirstname" class="form-control" placeholder="Prénom" required>

                    <label for="inputLastname">Nom</label>
                    <input type="text" name="lastName" id="inputLastname" class="form-control" placeholder="Nom" required>

                    <label for="inputPhone">Téléphone</label>
                    <input type="number" name="phone" id="inputPhone" class="form-control" placeholder="Téléphone" required>

                    <label for="inputCity">Ville</label>
                    <input type="text" name="city" id="inputCity" class="form-control" placeholder="Ville" required>

                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" required> J'ai lu et j'accepte <a href="{{ path('legal_notice') }}">les mentions légales</a>, <a href="{{ path('legal_rgpd') }}">la charte de protection des données personnelles</a> et <a href="{{ path('legal_cookies') }}">la politique relative aux cookies</a> de Hair'Job.
                        </label>
                    </div>
                    <button class="connect" type="submit">Enregistrer</button>
                </form>
            </article>
        </section>
{% endblock %}
