{% extends 'base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block base_body %}
    <h2>Administration des utilisateurs</h2>
    <table class="customers">
        <thead>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>N° Siret</th>
            <th>Rôles</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.siret }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Candidat
                            {% elseif role == "ROLE_RECRUITER"%}
                                Recruteur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin_edit_users', {'id' : user.id}) }}" class="connect">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Il n'y a pas d'utilisateurs inscrits !</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}