<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Bienvenue sur Hair'Job !{% endblock %}</title>
    {% block stylesheets %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
              integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap" rel="stylesheet">
        <!--Style perso CSS-->
        <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-warning" style="margin-bottom: 0;">
        You are currently switched to this user.
        <a href="{{ path('index', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
    </div>
{% endif %}
<div id="header" class="header">
    <!--Titre-->
    <div class="logo">
        <a href="{{ path('index') }}">
            <p class="font_bebas">professional hairdresser</p>
            <h1 class="font_eagle">Hair'Job</h1>
            <small class="font_lobster">Since 1975</small>
        </a>
    </div>
    <!--Menu Burger-->
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
        {% if is_granted('ROLE_RECRUITER') %}
            <li>
                <p class="welcome">Bienvenue <strong>{{ app.user.firstName }}</strong> !</p>
                <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(100) }}" alt="avatar">
            </li>
            <li><a href="{{ path('app_account') }}">Profil</a></li>
            <li><a href="{{ path('advert_add') }}">Publier une annonce</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a class="btn-log" href="{{ path('app_logout') }}"><i class="fas fa-times"></i> Se déconnecter</a></li>

        {% elseif is_granted('ROLE_USER') %}
            <li>
                <p class="welcome">Bienvenue <strong>{{ app.user.firstName }}</strong> !</p>
                <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(100) }}" alt="avatar">
            </li>
            <li><a href="{{ path('app_account') }}">Profil</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a class="btn-log" href="{{ path('app_logout') }}"><i class="fas fa-times"></i> Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('app_registrer') }}">Espace Candicats</a></li>
            <li><a href="{{ path('app_registrer_recruiter') }}">Espace Recruteurs</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        {% endif %}
    </ul>
</div>
<div class="container">
    <div id="content" class="">
        {% block base_body %}
        <h1>Les petites annonces de la coiffure</h1>
        <h2>Recherche d'emploi </h2>
        <p>Moteur de recherche ici !</p>
        <p>Carousel collection été 2020</p>
        <!--Carousel-->
        <section class="carousel">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/collection/addictparis1_carreboyish.jpg') }}" alt="Addict Paris" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Addict Paris</h3>
                            <p class="car-title">Carré Boyish</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/addictparis2_esprit40s.jpg') }}" alt="Addict Paris" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Addict Paris</h3>
                            <p class="car-title">Esprit 40's</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/addictparis3_bohemechic.jpg') }}" alt="Addict Paris" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Addict Paris</h3>
                            <p class="car-titlew">Bohème chic</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/addictparis4_wetlook.jpg') }}" alt="Addict Paris" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Addict Paris</h3>
                            <p class="car-titlew">Wet look</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/camillealbane1_attache.jpg') }}" alt="Camille Albane" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Camille Albane</h3>
                            <p class="car-title">Attache</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/camillealbane2_carreondule.jpg') }}" alt="Camille Albane" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Camille Albane</h3>
                            <p class="car-title">Carré ondulé</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/camillealbane3_longboucle.jpg') }}" alt="Camille Albane" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Camille Albane</h3>
                            <p class="car-title">Long bouclé</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/dessange1_ponytail.jpg') }}" alt="Dessange" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Dessange</h3>
                            <p class="car-title">Ponytail</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/dessange2_courtboyish.jpg') }}" alt="Dessange" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Dessange</h3>
                            <p class="car-title">Court Boyish</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/dessange3_boucles80s.jpg') }}" alt="Dessange" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Dessange</h3>
                            <p class="car-title">Boucles 80's</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/franckprovost1_carreblondpolaire.jpg') }}" alt="Franck Provost" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Franck Provost</h3>
                            <p class="car-titlew">Carré blond polaire</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/franckprovost2_long.jpg') }}" alt="Franck Provost" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Franck Provost</h3>
                            <p class="car-title">Long</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/franckprovost3_carreindiansun.jpg') }}" alt="Franck Provost" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Franck Provost</h3>
                            <p class="car-titlew">Carré indian sun</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/franckprovost4_homme.jpg') }}" alt="Franck Provost" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Franck Provost</h3>
                            <p class="car-title">L'homme</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/stalgue1_carredegradeglamour.jpg') }}" alt="Saint Algue" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Saint Algue</h3>
                            <p class="car-title">Carré dégradé glamour</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/stalgue2_carredegradewavy.jpg') }}" alt="Saint Algue" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Saint Algue</h3>
                            <p class="car-title">Carré dégradé wavy</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/stalgue3_snakebraid.jpg') }}" alt="Saint Algue" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Saint Algue</h3>
                            <p class="car-title">Snake braid</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/stalgue4_promqueen.jpg') }}" alt="Saint Algue" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-titlew">Saint Algue</h3>
                            <p class="car-titlew">Prom queen</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/collection/stalgue5_tresseinfinie.jpg') }}" alt="Saint Algue" width="1100" height="500">
                        <div class="carousel-caption">
                            <h3 class="car-title">Saint Algue</h3>
                            <p class="car-title">Tresse infinie</p>
                        </div>
                    </div>
                </div>



                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </section>
        <section class="flex">
            <ul class="flex">
                <li class="article">
                    <a href="https://www.legifrance.gouv.fr/affichIDCC.do?idConvention=KALICONT000018563755"
                       target="_blank">
                        <img class="imgarticle" src="{{ asset('images/site/ccnc.jpg') }}"
                             alt="Convention Collective Nationale de la Coiffure">
                        Consultez gratuitement la Convention Collective Nationale de la Coiffure
                    </a>
                </li>
                <li class="article">
                    <a href="https://www.legifrance.gouv.fr/affichIDCC.do;jsessionid=E0AC66814C0E96CCBE9FB265AE1A27C5.tplgfr33s_2?idConvention=KALICONT000018563755&cidTexte=KALITEXT000037506094"
                       target="_blank">
                        <img class="imgarticle" src="{{ asset('images/site/salary.jpg') }}"
                             alt="salaire Minima de la coiffure">
                        Consultez le salaire Minima de la coiffure dont vous pouvez prétendre !
                    </a>
                </li>
            </ul>
        </section>
    </div>
    {% endblock %}
</div>
</body>
<footer>
    <hr>
    <nav class="footer">
        <a href="{{ path('advert_index') }}">Consulter les dernières annonces</a>
        <p>Pour consulter toutes les offres d'emplois, <i class="fas fa-user-lock"></i><a
                    href="{{ path('app_login') }}"> connectez-vous !</a></p>
        {{ render(controller("App\\Controller\\Advert\\AdvertController::menu", {'limit': 3})) }}
    </nav>
        <hr>
    <section class="info">
        <article>
            <i class="fas fa-lock"></i>
            <a href="{{ path('admin_users') }}"> Espace Administrateur</a>
        </article>
        <article>
            <i class="fas fa-coffee"></i>
            <a href="{{ path('app_contact') }}"> Contact </a>
        </article>
        <article>
            <i class="fas fa-user-edit"></i>
            <a href="{{ path('legal_notice') }}"> Mentions Légales</a>
        </article>
        <article>
            <i class="fas fa-user-secret"></i>
            <a href="{{ path('legal_rgpd') }}"> Charte de protection des données personnelles</a>
        </article>
        <article>
            <i class="fas fa-cookie"></i>
            <a href="{{ path('legal_cookies') }}"> Politique relative aux cookies</a>
        </article>
    </section>
    <hr>
    <p  class="footer">Made with <i class="fa fa-heart"></i> by <span>Clémentine </span></p>
</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
{% endblock %}
</html>