<section class="form">
    <h3>Formulaire d'annonce</h3>
        <div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            {# DATE #}
            {% if form.date is defined %}
                {{ form_row(form.date) }}
            {% endif %}

            {# ADVERT TITLE #}
            {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'form-signin control-label'}}) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}

            {# ADVERT CONTENT #}
            {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'form-signin control-label'}}) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}

            {# ADVERT AUTHOR #}
            {{ form_row(form.author, {'label': 'Auteur'}) }}

            {# ADVERT PUBLISHED #}
            {% if form.published is defined %}
                {{ form_row(form.published, {'label': 'Publier'}) }}
            {% endif %}

            {# ADVERT IMAGE #}
            {{ form_row(form.image) }}

            {# ADVERT CATEGORY #}
            {{ form_row(form.categories, {'label': 'Catégorie'}) }}

            {# ADVERT SKILL #}
            {{ form_row(form.skills, {'label': 'Compétence'}) }}

            {# ADVERT LEVEL #}
            {{ form_row(form.advert_skills, {'label': 'Niveau'}) }}

            {# ADVERT SAVE #}
            {{ form_widget(form.save, {'label': 'Enregistrer'}, {'attr': {'class': 'form-control'}}) }}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let $container = $('div#advert_categories');
        let index = $container.find(':input').length;
        $('#add_category').click(function (e) {
            addCategory($container);
            e.preventDefault();
            return false;
        });
        if (index == 0) {
            addCategory($container);
        } else {
            $container.children('div').each(function () {
                addDeleteLink($(this));
            });
        }
        function addCategory($container) {
            let template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Catégorie n°' + (index + 1))
                .replace(/__name__/g, index);
            let $prototype = $(template);
            addDeleteLink($prototype);
            $container.append($prototype);
            index++;
        }
        function addDeleteLink($prototype) {
            let $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
            $prototype.append($deleteLink);
            $deleteLink.click(function (e) {
                $prototype.remove();
                e.preventDefault();
                return false;
            });
        }
    });
</script>